@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
font-family: 'RedHat Bold';
src: url(./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf) format('truetype');
font-weight: 100 900;
font-style:italic;
}

@font-face{
font-family: 'RedHat Regular';
src: url(./assets/fonts/RedHatText-VariableFont_wght.ttf) format('truetype');
font-weight:100 900;
font-style: normal;
}


body{
@apply bg-newrose-50    
}